[project]
name = "agents-runner"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "cryptography>=46.0.3",
    "pyside6>=6.10.1",
    "pyspellchecker>=0.8.1",
]
