name: CI Lint

permissions:
  contents: read

on:
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: CI Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v6.6.0

      - name: Sync
        run: uv sync --group ci

      - name: Lint
        run: uv run ruff check .
